docs/flow1.json
[
    {
        "id": "3aa669ad.8f5106",
        "type": "tab",
        "label": "NH/3/Raumfeld",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2bbbbcf.1fdde44",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "roomName",
                "pt": "flow",
                "to": "Spielzimmer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "c216d51d.c02c58"
            ]
        ]
    },
    {
        "id": "70fc6422.0b6d9c",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Setup",
        "info": "",
        "x": 90,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3554be88.a4a332",
        "type": "mqtt in",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/from/set",
        "qos": "1",
        "broker": "e4a2502c.3e8bb",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "cdb3b2b5.b8e84"
            ]
        ]
    },
    {
        "id": "cdb3b2b5.b8e84",
        "type": "json",
        "z": "3aa669ad.8f5106",
        "name": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "76d6ae52.9b73b"
            ]
        ]
    },
    {
        "id": "d1ef5779.a05b98",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "On/Off",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 390,
        "y": 200,
        "wires": [
            [
                "a456ffa4.39b92"
            ],
            [
                "a0a6b067.51598",
                "bfe76b6f.8a2888"
            ]
        ]
    },
    {
        "id": "50f698ba.8b29d8",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "on/brightness",
        "property": "payload.characteristic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Brightness",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "d1ef5779.a05b98"
            ],
            [
                "673e76a1.546838"
            ]
        ]
    },
    {
        "id": "5d88e7dc.50add8",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"Brightness\",\t   \"value\": payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "70d2bcd6.407d74"
            ]
        ]
    },
    {
        "id": "70d2bcd6.407d74",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "673e76a1.546838",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "Volume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "c229ff47.b0e43"
            ]
        ]
    },
    {
        "id": "37238b84.c570d4",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"Brightness\",\t   \"value\": 0\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 780,
        "wires": [
            [
                "ffa992e6.dac9a"
            ]
        ]
    },
    {
        "id": "ffa992e6.dac9a",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "47774702.aceb28",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 430,
        "y": 760,
        "wires": [
            [
                "b8340dd6.add78"
            ],
            [
                "37238b84.c570d4"
            ]
        ]
    },
    {
        "id": "ff605973.c68168",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Monitor external changes",
        "info": "",
        "x": 150,
        "y": 560,
        "wires": []
    },
    {
        "id": "5d6a74c5.3becac",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Home control",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d0e09f8.1dd988",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Absolut relax\",\t   \"characteristic\": \"On\",\t   \"value\": true\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 900,
        "wires": [
            [
                "368b3b71.f9fd74"
            ]
        ]
    },
    {
        "id": "368b3b71.f9fd74",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 1310,
        "y": 920,
        "wires": []
    },
    {
        "id": "42a0a759.c54e88",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Absolut relax\",\t   \"characteristic\": \"On\",\t   \"value\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "368b3b71.f9fd74"
            ]
        ]
    },
    {
        "id": "17d66c18.301d54",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Absolut relax",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 930,
        "y": 1000,
        "wires": [
            [
                "b584da5b.886538"
            ],
            [
                "1214217e.7d3e2f"
            ]
        ]
    },
    {
        "id": "b584da5b.886538",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Absolut relax\",\t   \"characteristic\": \"On\",\t   \"value\": true\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 1000,
        "wires": [
            [
                "848039d9.eca318"
            ]
        ]
    },
    {
        "id": "848039d9.eca318",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 1370,
        "y": 1020,
        "wires": []
    },
    {
        "id": "1214217e.7d3e2f",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Absolut relax\",\t   \"characteristic\": \"On\",\t   \"value\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 1040,
        "wires": [
            [
                "848039d9.eca318"
            ]
        ]
    },
    {
        "id": "7a6c95d9.6bcc1c",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Volume and mute changes",
        "info": "",
        "x": 170,
        "y": 620,
        "wires": []
    },
    {
        "id": "e16d1d29.7b44a",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Absolut relax",
        "info": "",
        "x": 130,
        "y": 840,
        "wires": []
    },
    {
        "id": "7341fa6e.6b85a4",
        "type": "mqtt in",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/from/set",
        "qos": "1",
        "broker": "e4a2502c.3e8bb",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "d56a278b.1bc668"
            ]
        ]
    },
    {
        "id": "d56a278b.1bc668",
        "type": "json",
        "z": "3aa669ad.8f5106",
        "name": "",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "19ccfdf6.447092"
            ]
        ]
    },
    {
        "id": "404a4cc4.3dd744",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "On/Off",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "a4140cd5.a9b87",
                "8e75217b.03668"
            ],
            [
                "2666472e.8f8f38"
            ]
        ]
    },
    {
        "id": "aeb0aa7a.64d888",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Absolut relax",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 410,
        "y": 920,
        "wires": [
            [
                "eb9ef1ce.adcdb"
            ],
            [
                "42a0a759.c54e88"
            ]
        ]
    },
    {
        "id": "e042cae3.350698",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 870,
        "y": 900,
        "wires": [
            [
                "5d0e09f8.1dd988"
            ],
            [
                "42a0a759.c54e88"
            ]
        ]
    },
    {
        "id": "8e8bd0bf.cf873",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 450,
        "y": 1020,
        "wires": [
            [
                "fb735a4c.08d508"
            ],
            [
                "1214217e.7d3e2f"
            ]
        ]
    },
    {
        "id": "6bb66081.397cd",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Volume and mute",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "ae04d821.15f978",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Absolut relax",
        "info": "",
        "x": 130,
        "y": 320,
        "wires": []
    },
    {
        "id": "2666472e.8f8f38",
        "type": "raumfeld-room-drop-from-zone",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "name": "",
        "x": 430,
        "y": 500,
        "wires": []
    },
    {
        "id": "fb735a4c.08d508",
        "type": "raumfeld-room-get-media-title",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomName": "",
        "name": "",
        "x": 690,
        "y": 1000,
        "wires": [
            [
                "17d66c18.301d54"
            ]
        ]
    },
    {
        "id": "eb9ef1ce.adcdb",
        "type": "raumfeld-room-get-play-state",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomName": "",
        "name": "",
        "x": 640,
        "y": 900,
        "wires": [
            [
                "e042cae3.350698"
            ]
        ]
    },
    {
        "id": "a4140cd5.a9b87",
        "type": "raumfeld-room-load-favorite",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "favorite": "Absolut relax",
        "volumes": "",
        "overrideVolume": false,
        "name": "",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "c229ff47.b0e43",
        "type": "raumfeld-room-set-volume",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomName": "Spielzimmer",
        "volume": "",
        "unmute": true,
        "name": "",
        "x": 790,
        "y": 280,
        "wires": []
    },
    {
        "id": "49371892.bf5b48",
        "type": "raumfeld-room-play-state-changed",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "name": "",
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "8e8bd0bf.cf873"
            ]
        ]
    },
    {
        "id": "4fda2c8f.aa9a04",
        "type": "raumfeld-room-title-changed",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "name": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "aeb0aa7a.64d888"
            ]
        ]
    },
    {
        "id": "39ea01c.eb4b8fe",
        "type": "raumfeld-room-mute-changed",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "name": "",
        "x": 200,
        "y": 760,
        "wires": [
            [
                "47774702.aceb28"
            ]
        ]
    },
    {
        "id": "6c315690.c8be48",
        "type": "raumfeld-room-volume-changed",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "mute": false,
        "name": "",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "5d88e7dc.50add8",
                "c53fe578.e1c678"
            ]
        ]
    },
    {
        "id": "a0a6b067.51598",
        "type": "raumfeld-room-drop-from-zone",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomNames": "Spielzimmer",
        "name": "",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "a456ffa4.39b92",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"On\",\t   \"value\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 160,
        "wires": [
            [
                "35d6682a.0757d8"
            ]
        ]
    },
    {
        "id": "35d6682a.0757d8",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "c53fe578.e1c678",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"On\",\t   \"value\": true\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 640,
        "wires": [
            [
                "70d2bcd6.407d74"
            ]
        ]
    },
    {
        "id": "b8340dd6.add78",
        "type": "raumfeld-room-get-volume",
        "z": "3aa669ad.8f5106",
        "raumkernel": "6bb97ccd.b8f4cc",
        "roomName": "",
        "name": "",
        "x": 650,
        "y": 740,
        "wires": [
            [
                "b22b537d.924f9"
            ]
        ]
    },
    {
        "id": "b22b537d.924f9",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"Brightness\",\t   \"value\": payload\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 740,
        "wires": [
            [
                "ffa992e6.dac9a"
            ]
        ]
    },
    {
        "id": "bfe76b6f.8a2888",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"On\",\t   \"value\": false\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 240,
        "wires": [
            [
                "35d6682a.0757d8"
            ]
        ]
    },
    {
        "id": "f0e86544.186488",
        "type": "inject",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "2bbbbcf.1fdde44"
            ]
        ]
    },
    {
        "id": "c216d51d.c02c58",
        "type": "debug",
        "z": "3aa669ad.8f5106",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "8e75217b.03668",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service_name\": \"Raumfeld\",\t   \"characteristic\": \"On\",\t   \"value\": true\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "46ed0914.6a3c68"
            ]
        ]
    },
    {
        "id": "46ed0914.6a3c68",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "homebridge/to/set",
        "qos": "1",
        "retain": "true",
        "broker": "e4a2502c.3e8bb",
        "x": 610,
        "y": 460,
        "wires": []
    },
    {
        "id": "6a6f0a5.b9329f4",
        "type": "inject",
        "z": "3aa669ad.8f5106",
        "name": "add Raumfeld",
        "topic": "homebridge/to/add",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 1280,
        "wires": [
            [
                "7745f948.0fcfd8"
            ]
        ]
    },
    {
        "id": "66c9eef.7d8db1",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "e4a2502c.3e8bb",
        "x": 590,
        "y": 1280,
        "wires": []
    },
    {
        "id": "dcb54900.f4c3d8",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "e4a2502c.3e8bb",
        "x": 610,
        "y": 1340,
        "wires": []
    },
    {
        "id": "4f095c8d.7cdee4",
        "type": "inject",
        "z": "3aa669ad.8f5106",
        "name": "remove Raumfeld",
        "topic": "homebridge/to/remove",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 1340,
        "wires": [
            [
                "d2797e8f.b078e"
            ]
        ]
    },
    {
        "id": "1b3452b7.c8a24d",
        "type": "inject",
        "z": "3aa669ad.8f5106",
        "name": "add Absolut relax",
        "topic": "homebridge/to/add/service",
        "payload": "{\"name\":\"Raumfeld_Küche_Absolut_relax\",\"service\":\"Switch\",\"service_name\":\"Absolut relax\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 200,
        "y": 1460,
        "wires": [
            [
                "f954b741.a51568"
            ]
        ]
    },
    {
        "id": "7f0e6ce9.9123c4",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "e4a2502c.3e8bb",
        "x": 610,
        "y": 1460,
        "wires": []
    },
    {
        "id": "9b8b6e7b.862ea",
        "type": "mqtt out",
        "z": "3aa669ad.8f5106",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "e4a2502c.3e8bb",
        "x": 650,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6e2463a9.c0f09c",
        "type": "inject",
        "z": "3aa669ad.8f5106",
        "name": "remove Absolut relax",
        "topic": "homebridge/to/remove/service",
        "payload": "{\"name\":\"Raumfeld_Küche_Absolut_relax\",\"service\":\"Switch\",\"service_name\":\"Absolut relax\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 220,
        "y": 1520,
        "wires": [
            [
                "448d69c2.5d7d98"
            ]
        ]
    },
    {
        "id": "7745f948.0fcfd8",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service\": \"Lightbulb\",\t   \"service_name\": \"Raumfeld\",\t   \"Brightness\": \"default\"\t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1280,
        "wires": [
            [
                "66c9eef.7d8db1"
            ]
        ]
    },
    {
        "id": "d2797e8f.b078e",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service\": \"Lightbulb\",\t   \"service_name\": \"Raumfeld\",\t   \"Brightness\": \"default\"\t\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1340,
        "wires": [
            [
                "dcb54900.f4c3d8"
            ]
        ]
    },
    {
        "id": "f954b741.a51568",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service\":\"Switch\",\t   \"service_name\":\"Absolut relax\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1460,
        "wires": [
            [
                "7f0e6ce9.9123c4"
            ]
        ]
    },
    {
        "id": "448d69c2.5d7d98",
        "type": "change",
        "z": "3aa669ad.8f5106",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": \"Raumfeld_\" & $flowContext(\"roomName\"),\t   \"service\":\"Switch\",\t   \"service_name\":\"Absolut relax\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1520,
        "wires": [
            [
                "9b8b6e7b.862ea"
            ]
        ]
    },
    {
        "id": "5049b5fd.20d1ec",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Services",
        "info": "",
        "x": 140,
        "y": 1400,
        "wires": []
    },
    {
        "id": "55b12a73.088e84",
        "type": "comment",
        "z": "3aa669ad.8f5106",
        "name": "Accessory",
        "info": "",
        "x": 140,
        "y": 1220,
        "wires": []
    },
    {
        "id": "76d6ae52.9b73b",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "Room Volume",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.name = \"Raumfeld_\" & $flowContext(\"roomName\") and payload.service_name = \"Raumfeld\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "50f698ba.8b29d8"
            ]
        ]
    },
    {
        "id": "19ccfdf6.447092",
        "type": "switch",
        "z": "3aa669ad.8f5106",
        "name": "Room Absolut relax",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "payload.name = \"Raumfeld_\" & $flowContext(\"roomName\") and payload.service_name = \"Absolut relax\"",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "404a4cc4.3dd744"
            ]
        ]
    },
    {
        "id": "e4a2502c.3e8bb",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "6bb97ccd.b8f4cc",
        "type": "raumfeld-raumkernel",
        "z": 0,
        "raumfeldHost": "0.0.0.0"
    }
]